*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

button{
    margin: 10px 20px;
    width: 120px;
    height: 35px;
    transition: 0.3s;
    border: none;
    border-radius: 7px;
    font-size: 14px;
}

button:hover{
    width: 150px;
    transition: 0.5s;
    color: white;
    background-color: #FF4800;
}

.bg{
    background: linear-gradient(#474747,#202020);
    height: 1000px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    color: white;
    text-align: center;
    letter-spacing: 2px;
    height: auto;
    width: 400px;
    background-color: #202020;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}

.card--name{
    margin-top: 10px;
}

.card--prof{
    margin-top: 5px;
    color: #FF6700;
}

.card--small-desc{
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 1px;
}
.card--footer{
    align-self: flex-end; 
    margin-top: auto;
    background-color: #181818;
    border-radius: 0 0 15px 15px;
}

.content--alltext{
    margin: 15px 25px 15px 30px;
}

.content--section-name{
    color: #FF6700;
    font-size: 24px;
    text-align: left;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.content--text{
    text-align: left;
    font-weight: lighter;
    letter-spacing: 1px;
}

.content--text>ul{
    margin-left: 20px;
}

.footer--logos{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer--logos > li{
    margin: 5px 20px;
}

.footer--link{
    width: 40px;
    transition:0.2s;
}

.footer--link:hover{
    transition:0.3s;
    filter: brightness(0) saturate(100%) invert(30%) sepia(99%) saturate(2604%) hue-rotate(2deg) brightness(104%) contrast(104%);
}